.adasd {
          display: none;
          transition: display 250ms ease;
}

.Difuminado {
          display: block;
          position: fixed;
          background: #1a1a1abc;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          z-index: 103;
          top: 0;
          left: 0;
}

.box {
          position: fixed;
          left: 50%;
          top: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);
          width: auto;
          overflow: hidden;
          height: auto;
          box-sizing: border-box;
          border-radius: 10px;
          box-shadow: 0 0 10 #CBE4DE;
          height: auto;
          padding: 5px;
          background: #181818;
          transition: all 250ms ease;
}


.box::before {
          content: "";
          background: conic-gradient(#CBE4DE 260deg, transparent);
          height: 200%;
          width: 5vw;
          position: absolute;
          animation: rotate 3s infinite linear;

}

.contenidoWrapper {
          background: #191919;
          opacity: 1;
          width: 50vw;
          color: #191919;
          padding: 5px;
          font-family: monospace;
          border-radius: 10px;
          z-index: 108;
          height: auto;
          color: #CBE4DE;
          font-size: 1.3em;
          text-align: center;
}

.contenidoWrapper h2 {
          transition: 300ms;
          color: #CBE4DE;
}

.contenidoWrapper h3 {
          color: #CBE4DE;
          transition: 300ms;
}

.icon-close {
          width: 150px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 30px auto;
          margin-top: 10px;
          border: 0;
          border-radius: 10px;
          color: black;
          outline: none;
          cursor: pointer;
          border: 2px solid #191919;
          transition: 250ms;
          background: #222222;
          color: #CBE4DE;
}

.icon-close:hover {
          background: transparent;
          padding: 10px;
          transform: scale(1.01);
          box-shadow: 0 0 10px #CBE4DE;
          border: 2px solid #CBE4DE;
}

.icon-close>ion-icon {
          font-size: 2em;
          color: #CBE4DE;
}

.contenidoWrapper .form-box .input-box {
          position: relative;
          width: 80%;
          margin: 25px 0;
          left: 50%;
          transform: translate(-50%);
}

.Label {
          position: absolute;
          margin-top: -5%;
          left: 8px;
          transform: translateY(-50%);
          font-size: 1em;
          color: #CBE4DE;
          transition: all 100ms ease-out;
          pointer-events: none;
}

.input-box input:focus~label {
          margin-top: -7%;
}


.input-box input:valid~label {
          margin-top: -7%;
}

.contenidoWrapper .form-box .input-box input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 2px solid #CBE4DE;
          text-align: left;
          font-size: 1em;
          color: #CBE4DE;
          padding: 0 35px 0 5px;
          margin: 10px;
          transition: all 250ms ease;
          margin: 15px 0px;
}

.input-box ion-icon {
          position: absolute;
          right: 8px;
          color: #CBE4DE;
          font-size: 1.2em;
          top: 0px;
          line-height: 57px;
}

.btn {
          width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px 20px;
          margin: 0 auto;
}

.btn button {
          width: 50%;
          height: 40px;
          background: #222222;
          border-radius: 10px;
          margin: 0 20px;
          font-size: 1em;
          text-align: center;
          display: flex;
          border: none;
          transition: 300ms;
          color: #CBE4DE;
          justify-content: center;
          align-items: center;
}

.btn button:hover {
          background: #0f0f0f;
          transform: scale(1.01);
          color: #0E8388;
          box-shadow: 0 0 10px #CBE4DE;
          text-shadow: 0 0 5px #11a3a8;
          border: 2px solid rgb(46, 46, 46);
}


.socialLinks {
          color: white;
          position: relative;
          padding: 15px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
}

.socialLinks a {
          transition: 111ms;
          text-decoration: none;
          color: #CBE4DE;

          margin: 20px 20px;
}

.socialLinks a:hover {
          color: #0E8388;
}

.socialLinks a>span {
          color: #CBE4DE;
}

.socialLinks a>ion-icon {
          color: #CBE4DE;
}

@keyframes rotate {
          100% {
                    transform: rotate(-360deg);
          }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
          margin: 0;
          padding: 0;
          color: black;
          font-family: 'Poppins';
          font-weight: normal;
}

html {
          margin: 0 auto;
          background: linear-gradient(#CBE4DE, #2e4f4f);
}

.logo2 {
          display: none;
}

.logo1 {
          display: flex;
}

.body1 {
          background: linear-gradient(#CBE4DE, #2e4f4f);
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 300ms;
          height: fit-content;
}

.body2 {
          background: linear-gradient(#191919, #2e4f4f);
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 300ms;
          height: fit-content;
}


.bxs-moon {
          font-size: 50px;
          color: #C9E2DD;
          cursor: pointer;
          transition: all 300ms;
          position: fixed;
          bottom: 0;
          z-index: 105;
          margin: 10px;
          animation: MoonAndSun 5s infinite linear;
}

.bxs-moon:hover {
          margin: 20px;
          transform: scale(1.3);
}


.bxs-sun {
          font-size: 50px;
          color: #C9E2DD;
          cursor: pointer;
          transition: 300ms;
          z-index: 105;
          position: fixed;
          bottom: 0;
          margin: 10px;
          animation: MoonAndSun 5s infinite linear;
}

.bxs-sun:hover {
          margin: 20px;
          transform: scale(1.3);
}

@keyframes MoonAndSun {
          0% {
                    color: #CBE4DE;
          }

          50% {
                    color: #FFD93D;
          }

          100% {
                    color: #CBE4DE;
          }
}

.body1 header {
          height: 120px;
          width: 98vw;
          background: #C9E2DD;
          color: #2E4F4F;
          z-index: 100;
          background-repeat: no-repeat;
          transform: translate(-50%);
          background-size: 100%;
          position: fixed;
          top: 0;
          left: 50%;
          position: fixed;
          border-top: #2E4F4F;
          border: 2px solid;
          border-top: transparent;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          display: flex;
          justify-content: space-between;
          padding: 10px 20px;
          align-items: center;
          height: auto;
}


.body1 header>.Logo_Title {
          display: flex;
          align-items: center;
          pointer-events: none;
}

.body1 header>.Logo_Title>img {
          width: 100px;
}

.body1 header>.menuLinks a {
          color: #2E4F4F;
          text-decoration: none;
          margin: 0 10px;
          font-size: 20px;
          background: none;
          border-radius: 5px;
          transition: 250ms;
          border: none;
          cursor: pointer;
}

.body1 header>.menuLinks a:hover {
          color: #0E8388;
          padding: 5px 8px;
          border: 2px solid;
          text-shadow: 0 0 10px #0E8388;
          background: #222222;
          box-shadow: 0 0 10px #0E8388;
          border-radius: 10px;
}

.body1 header>.menuLinks button {
          color: #2E4F4F;
          text-decoration: none;
          margin: 0 10px;
          font-size: 20px;
          background: none;
          border-radius: 5px;
          transition: 250ms;
          border: none;
          cursor: pointer;
}

.body1 header>.menuLinks button:hover {
          color: #0E8388;
          padding: 5px 8px;
          border: 2px solid;
          text-shadow: 0 0 10px #0E8388;
          background: #222222;
          box-shadow: 0 0 10px #0E8388;
          border-radius: 10px;
}

.body2 header {
          height: 120px;
          width: 98vw;
          background: #191919;
          color: #CBE4DE;
          z-index: 100;
          background-repeat: no-repeat;
          transform: translate(-50%);
          background-size: 100%;
          position: fixed;
          top: 0;
          left: 50%;
          position: fixed;
          border-top: #2E4F4F;
          border: 2px solid;
          border-top: transparent;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          display: flex;
          justify-content: space-between;
          padding: 10px 20px;
          align-items: center;
          height: auto;
}

.body2 header>.Logo_Title {
          display: flex;
          align-items: center;
          pointer-events: none;
}

.body2 header>.Logo_Title>img {
          width: 100px;
}

.body2 header>.menuLinks a {
          color: #CBE4DE;
          text-decoration: none;
          margin: 0 10px;
          font-size: 20px;
          background: none;
          border-radius: 5px;
          transition: 250ms;
          border: none;
          cursor: pointer;
}

.body2 header>.menuLinks a:hover {
          color: #0E8388;
          padding: 10px;
          border: 2px solid;
          text-shadow: 0 0 10px #0E8388;
          background: #222222;
          box-shadow: 0 0 10px #0E8388;
          border-radius: 10px;
}

.body2 header>.menuLinks button {
          color: #CBE4DE;
          text-decoration: none;
          margin: 0 10px;
          font-size: 20px;
          background: none;
          border-radius: 5px;
          transition: 250ms;
          border: none;
          cursor: pointer;
}

.body2 header>.menuLinks button:hover {
          color: #0E8388;
          padding: 10px;
          border: 2px solid;
          text-shadow: 0 0 10px #0E8388;
          background: #222222;
          box-shadow: 0 0 10px #0E8388;
          border-radius: 10px;
}

main {
          margin: 0 auto;
          padding: 30px 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;
}



.Description_Image {
          border-radius: 5px;
          color: #2E4F4F;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          transition: 300ms;
          padding: 10px 20px;
          width: 90vw;
          margin: 100px auto;
          height: 325px;
}

.Description {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
}

.Description>h2 {
          text-align: center;
          transition: 350ms;
          color: #000000;
          font-weight: 500;
          font-size: 30px;
          height: fit-content;
          margin: 0 auto;
}

.Description h2:hover {
          color: #0E8388;
}

.Description p {
          text-align: center;
          color: #000000;
          text-decoration: none;
          transition: 350ms;
          width: 360px;
          font-weight: 500;
          font-size: 20px;
          padding: 20px 0px;
          height: fit-content;
          padding-top: 2px;
}

.Description p>a {
          text-align: center;
          color: #000000;
          font-weight: 500;
          font-size: 20px;
          text-decoration: none;
          transition: 350ms;
}

.Description_Image p:hover {
          color: #0E8388;
          padding-top: 5px;
          letter-spacing: -0.8px;

}

.Description_Image p:hover a {
          letter-spacing: -0.8px;
          color: #0E8388;
}

.body2>main>.Description_Image>.Description>p {
          color: #CBE4DE;
}

.body2>main>.Description_Image>.Description>p>a {
          color: #CBE4DE;
}

picture {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 350px;
          max-width: 350px;
          background: rgb(2, 193, 193);
          border-radius: 10%;
          padding: 0;
          transition: 450ms;
          margin: 0;
          z-index: 1;
}

picture:hover {
          background: turquoise;
          box-shadow: 0 0 10px #0E8388;
          animation: none 1s linear infinite;
}

.Description_Image>picture>img {
          max-width: 350px;
          min-width: 350px;
          transition: 250ms;
          border-radius: 10%;
          mix-blend-mode: multiply;
          filter: grayscale(100%);
          padding: 0;
          margin: 0;
}

.TitleDivContentCards {
          margin: 45px 0px;
}

.TitleDivContentCards>h2 {
          text-align: center;
          transition: 350ms;
          color: #000000;
          margin: 0 auto;
}

.TitleDivContentCards>h2:hover {
          color: #0E8388;
}

.TitleDivContentCards>p {
          text-align: center;
          color: #000000;
          padding: 15px;
          width: auto;
          font-weight: 600;
          font-size: 20px;
          transition: 350ms;
}

.TitleDivContentCards>p:hover {
          color: #0E8388;
          text-shadow: 0 0 10 #000;
}

.Subtitle {
          color: #000000;
          transition: 350ms;
          font-weight: 500;
          font-size: 30px;
          text-align: center;
          margin: 0 auto;
}

.body2 .Subtitle {
          color: #CBE4DE;

}

.body2 .Subtitle:hover {
          text-shadow: 0 0 5px #0E8388;
          color: #0E8388;
          letter-spacing: .5px;
}


.body2 h3:hover {
          color: #0E8388;
          text-shadow: 0 0 5px #0E8388;
          letter-spacing: .5px;
}



.body2>main>.TitleDivContentCards>p {
          color: #CBE4DE;
}

.body2 p:hover {
          color: #0E8388;
          text-shadow: 0 0 5px #0E8388;
          letter-spacing: .5px;
}

.cards {
          display: flex;
}

.body2>main>.streamers>h3 {
          color: #CBE4DE;
          padding: 20px;
          text-align: center;
          margin: 0 auto;
          transition: all 250ms ease;
}

.body2>main>.games>h3 {
          color: #CBE4DE;
          text-align: center;
          margin: 0 auto;
          padding: 20px;
          transition: all 250ms ease;
}

.streamers {
          margin: 25px 25px auto;
          background: conic-gradient(#222222b5, #121111b5);
          padding: 15px;
          background-size: 250%;
          display: block;
          border-radius: 10px;
}

.streamers>h3 {
          text-align: center;
          width: fit-content;
          color: #C9E2DD;
          margin: 0 auto;
          font-size: 28px;
          padding: 10px;
          transition: all 250ms ease;
}

.streamers>h3:hover {
          color: #0E8388;
          text-shadow: 0 0 5px #0E8388;
}

.streamerCards {
          display: flex;
          flex-direction: column;
          padding: 0px;
          margin: 10px;
          align-items: center;
          justify-content: center;
}

.N1SC {
          display: inline-block;
          transition: all 250ms ease;
          text-align: center;
          border-radius: 15px;
          width: auto;
          padding: 15px 25px;
          height: auto;
          transition: 250ms ease;
          text-decoration: none;
          background: #000;
}

.N1SC:hover {
          transform: translateY(-8px);
}

.N1SC img {
          width: 15vw;
          height: 15vw;
}

.N1SC span {
          margin: 30px 0px;
          font-weight: 500;
          font-size: 22px;
          color: #CBE4DE;
}

.games {
          margin: 25px 25px auto;
          background: conic-gradient(#222222b5, #121111b5);
          padding: 15px;
          background-size: 250%;
          display: block;
          border-radius: 10px;
}

.games>h3 {
          text-align: center;
          color: #C9E2DD;
          width: fit-content;
          font-size: 28px;
          margin: 0 auto;
          padding: 10px;
          transition: all 250ms ease;
}

.games>h3:hover {
          color: #0E8388;
          text-shadow: 0 0 5px #0E8388;
}

.gameCard {
          display: flex;
          flex-direction: column;
          padding: 0px;
          margin: 10px;
          align-items: center;
          justify-content: center;
}

.GCN1 {
          display: inline-block;
          transition: all 250ms ease;
          text-align: center;
          border-radius: 15px;
          width: auto;
          padding: 15px 25px;
          height: auto;
          transition: 250ms ease;
          text-decoration: none;
          background: #000;
}

.GCN1:hover {
          transform: translateY(-8px);
}

.GCN1 img {
          width: 15vw;
          height: 15vw;
}

.GCN1 span {
          margin: 30px 0px;
          font-weight: 500;
          font-size: 22px;
          color: #CBE4DE;
}

.contentStreamers1 {
          margin: 10px auto;
          display: flex;
}

.contentStreamers2 {
          margin: 10px auto;
          display: flex;
}

.contentGames1 {
          display: flex;
          margin: 10px auto;
}

.contentGames2 {
          display: flex;
          margin: 10px auto;
}

* {
          scrollbar-width: auto;
          scrollbar-color: #C9E2DD #ffffff;
}


*::-webkit-scrollbar {
          width: 5px;
          height: 50%;
}

*::-webkit-scrollbar-track {
          color: #CBE4DE;
          background: #191919;
          border-left: 2px solid;

}

*::-webkit-scrollbar-thumb {
          background-color: #CBE4DE;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          height: 50%;
          border: 3px solid #CBE4DE;
}

@media (max-width:1250px) {

          .box {
                    left: 0;
                    transform: translate(0%, -50%);
          }

          .contenidoWrapper {
                    width: 100vw;
                    height: 50vh;
          }

          .Label {
                    margin-top: -40px;
          }

          .input-box input:focus~label {
                    margin-top: -60px;
          }


          .input-box input:valid~label {
                    margin-top: -60px;
          }


          html {
                    width: fit-content;
                    justify-content: center;
          }

          main {
                    margin-top: 215px;
                    padding-bottom: 20px;
          }

          .body1>header {
                    flex-direction: column;
          }

          .body2>header {
                    flex-direction: column;

          }

          .body1 header>.Logo_Title>img {
                    width: 150px;
          }


          .body2 header>.Logo_Title>img {
                    width: 150px;
          }

          .body1 header>.menuLinks a {
                    color: #2E4F4F;
                    text-decoration: none;
                    margin: 0 10px;
                    font-size: 30px;
                    background: none;
                    border-radius: 5px;
                    transition: 250ms;
                    border: none;
                    cursor: pointer;
          }

          .body2 header>.menuLinks a {
                    color: #CBE4DE;
                    text-decoration: none;
                    margin: 0 10px;
                    font-size: 30px;
                    background: none;
                    border-radius: 5px;
                    transition: 250ms;
                    border: none;
                    cursor: pointer;
          }



          .body1 header>.menuLinks button {
                    color: #2E4F4F;
                    text-decoration: none;
                    margin: 0 10px;
                    font-size: 30px;
                    background: none;
                    border-radius: 5px;
                    transition: 250ms;
                    border: none;
                    cursor: pointer;
          }

          .body2 header>.menuLinks button {
                    color: #CBE4DE;
                    text-decoration: none;
                    margin: 0 10px;
                    font-size: 30px;
                    background: none;
                    border-radius: 5px;
                    transition: 250ms;
                    border: none;
                    cursor: pointer;
          }


          .cards {
                    flex-direction: column;
          }

          .Description_Image {
                    flex-direction: column;
                    margin-bottom: 410px;
                    padding: 0;
                    margin-top: 30px;
          }

          .Description h2 {
                    font-size: 45px;

          }

          .Description p {
                    font-size: 35px;
                    width: 80vw;
          }

          .Description p>a {
                    font-size: 35px;

          }

          .TitleDivContentCards {
                    margin-top: 125px;
                    margin-bottom: 50px;
          }

          .TitleDivContentCards>p {
                    text-align: center;
                    color: #000000;
                    padding: 5px;
                    width: auto;
                    font-weight: 600;
                    font-size: 25px;
                    transition: 350ms;
          }

          .Subtitle {
                    font-size: 45px;
          }

          .Parrafo {
                    font-size: 35px;
          }

          picture {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 350px;
                    max-width: 350px;
                    background: rgb(2, 193, 193);
                    border-radius: 10%;
                    padding: 0;
                    transition: 450ms;
                    margin: 0;
                    z-index: 1;
          }

          picture:hover {
                    background: turquoise;
                    box-shadow: 0 0 10px #0E8388;
                    animation: none 1s linear infinite;
          }

          .Description_Image>picture>img {
                    max-width: 350px;
                    min-width: 350px;
                    transition: 250ms;
                    border-radius: 10%;
                    mix-blend-mode: multiply;
                    filter: grayscale(100%);
                    padding: 0;
                    margin: 0;
          }

          .streamers {
                    padding: 20px;
          }

          .streamers>h3 {
                    font-size: 45px;
                    padding: 20px;
          }

          .games {
                    padding: 20px;
          }

          .games>h3 {
                    font-size: 45px;
                    padding: 20px;
          }


          .N1SC {
                    width: auto;
                    text-align: center;
          }

          .N1SC img {
                    width: 40vw;
                    height: 40vw;
          }

          .GCN1 img {
                    width: 40vw;
                    height: 40vw;
          }

          .N1SC span {
                    margin: 30px 0px;
                    font-weight: 500;
                    font-size: 35px;
                    color: #CBE4DE;
          }

          .GCN1 span {
                    margin: 30px 0px;
                    font-weight: 500;
                    font-size: 35px;
                    color: #CBE4DE;
          }

          .contentStreamers1 {
                    margin: 10px auto;
                    display: flex;
                    flex-direction: column;
          }

          .contentStreamers2 {
                    margin: 10px auto;
                    flex-direction: column;
                    display: flex;
          }

          .contentGames1 {
                    display: flex;
                    flex-direction: column;
                    margin: 10px auto;
          }

          .contentGames2 {
                    display: flex;
                    margin: 10px auto;
                    flex-direction: column;
          }


}