.adasd {
          display: none;
          transition: display 250ms ease;
}

.Difuminado {
          display: block;
          position: fixed;
          background: #2e4f4f2b;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          z-index: 103;
          top: 0;
          left: 0;
          backdrop-filter: blur(5px);
}

.box {
          position: fixed;
          left: 50%;
          top: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);
          width: auto;
          overflow: hidden;
          height: auto;
          border-radius: 10px;
          height: auto;
          padding: 5px;
          background: #181818;
          transition: all 250ms ease;
}

.box::before {
          content: "";
          background: conic-gradient(#aadacf 360deg, transparent);
          height: 250%;
          width: 25vw;
          position: absolute;
          animation: rotate 3s infinite linear;
}

.contenidoWrapper {
          background: #191919;
          opacity: 1;
          width: 50vw;
          color: #191919;
          padding: 5px;
          font-family: monospace;
          border-radius: 10px;
          z-index: 108;
          height: auto;
          text-align: center;
}

.contenidoWrapper h2 {
          color: #CBE4DE;

}

.contenidoWrapper h3 {
          color: #CBE4DE;
}

.icon-close {
          width: 150px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px auto;
          border: 0;
          border-radius: 10px;
          color: black;
          outline: none;
          cursor: pointer;
          border: 2px solid #191919;
          transition: 250ms;
          background: #222222;
          color: #CBE4DE;
}

.icon-close:hover {
          background: #CBE4DE;
          transform: scale(1.01);
          box-shadow: 0 0 10px black;
          border: 2px solid rgb(0, 0, 0);
}

.icon-close:hover ion-icon {
          color: #191919;
}


.icon-close>ion-icon {
          font-size: 2em;
          color: #CBE4DE;
}

.contenidoWrapper .form-box .input-box {
          position: relative;
          width: 60%;
          margin: 25px 0;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
}

.Label {
          position: absolute;
          margin-top: -5%;
          left: 8px;
          transform: translateY(-50%);
          font-size: 1em;
          color: #CBE4DE;
          transition: all 100ms ease-out;
          pointer-events: none;
}

.input-box input:focus~label {
          margin-top: -10%;
}

.input-box input:valid~label {
          margin-top: -10%;
}

.contenidoWrapper .form-box .input-box input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 2px solid #CBE4DE;
          text-align: left;
          font-size: 1em;
          color: #CBE4DE;
          padding: 0 35px 0 5px;
          margin: 10px;
          transition: all 250ms ease;
          margin: 15px 0px;
}

.input-box ion-icon {
          position: absolute;
          right: 8px;
          color: #CBE4DE;
          font-size: 1.2em;
          top: 0px;
          line-height: 57px;
}

.btn {
          width: 50%;
          cursor: pointer;
          border: none;
          outline: none;
          color: #CBE4DE;
          margin: 45px 0;
          margin: 0 auto;
          transition: .5s ease;
          border-radius: 6px;
          height: 45px;
          font-size: 1em;
          background: #222222;
}

.btn:hover {
          background: #0f0f0f;
          transform: scale(1.01);
          box-shadow: 0 0 10px black;
          border: 2px solid rgb(46, 46, 46);
}

.socialLinks {
          color: white;
          position: relative;
          padding: 15px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
}

.socialLinks a {
          transition: 111ms;
          text-decoration: none;
          color: #CBE4DE;
          margin: 10px 20px;
}

.socialLinks a:hover {
          color: #0E8388;
}

.socialLinks a>span {
          color: #CBE4DE;
}

.socialLinks a>ion-icon {
          color: #CBE4DE;
}

@keyframes rotate {
          100% {
                    transform: rotate(-360deg);
          }
}

@keyframes animate {

          0%,
          100% {
                    background: teal;
          }

          50% {
                    background: rgb(13, 181, 164);
          }
}

/* Pagina visible */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
          margin: 0;
          padding: 0;
          color: black;
          font-family: 'Poppins';
          font-weight: normal;
}


.body1 {
          background: linear-gradient(#CBE4DE, #2e4f4f);
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          background-size: cover;
}

.body2 {
          background: linear-gradient(#2C3333, #2e4f4f);
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          background-size: cover;
}

.body2 header {
          background: #2C3333;
}

.body1 header {
          height: 120px;
          width: 90vw;
          background: #C9E2DD;
          color: #2E4F4F;
          z-index: 100;
          background-repeat: no-repeat;
          transform: translate(-50%);
          background-size: 100%;
          position: fixed;
          top: 0;
          left: 50%;
          position: fixed;
          border-top: #2E4F4F;
          border: 2px solid;
          border-top: transparent;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
}

.body1 header {
          display: flex;
          justify-content: space-between;
          padding: 10px 20px;
          align-items: center;
          height: auto;
}

.body1 header>.Logo_Title {
          display: flex;
          align-items: center;
          pointer-events: none;
}

.body1 header>.Logo_Title>img {
          width: 100px;
}

.body1 header>.menuLinks a {
          color: #2E4F4F;
          text-decoration: none;
          border-radius: 5px;
          margin: 0 10px;
          font-size: 20px;
          transition: 250ms;
}

.body1 header>.menuLinks a:hover {
          color: #0E8388;
          padding: 3px 5px;
          border: 2px solid;
          text-shadow: 0 0 10px #0E8388;
          box-shadow: 0 0 10px #0E8388;
          border-radius: 10px;
          background: #222222;
}

.body1 header>.menuLinks button {
          color: #2E4F4F;
          text-decoration: none;
          margin: 0 10px;
          font-size: 22px;
          background: none;
          border-radius: 5px;
          transition: 250ms;
          border: none;
          cursor: pointer;
}

.body1 header>.menuLinks button:hover {
          color: #0E8388;
          padding: 5px 8px;
          border: 2px solid;
          text-shadow: 0 0 10px #0E8388;
          background: #222222;
          box-shadow: 0 0 10px #0E8388;
          border-radius: 10px;
}

.body1 main {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
          padding: 10px;
          align-items: center;
}

.Description_Image {
          font-size: 1.2em;
          border-radius: 5px;
          color: #2E4F4F;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          padding: 10px 20px;
          margin-top: 125px;
          width: 90vw;
          margin: 180px auto;
          height: 325px;
}

.Description {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
}


.Description p {
          transition: all 250ms ease;
          max-width: 450px;
          margin: 20px 0px;
          cursor: default;
          font-size: 24px;
          text-align: center;
}

.Description p>a {
          color: #2E4F4F;
          transition: all 250ms ease;
          font-size: 24px;
          text-decoration: none;
}

.Description_Image p:hover {
          color: #0E8388;
}

.Description_Image p:hover a {
          color: #0E8388;
}

picture {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 350px;
          max-width: 350px;
          background: teal;
          border-radius: 10%;
          padding: 0;
          transition: 450ms;
          margin: 0;
          z-index: 1;
}

picture:hover {
          background: turquoise;
          box-shadow: 0 0 10px #0E8388;
          animation: none 1s linear infinite;
}

.Description_Image>picture>img {
          max-width: 350px;
          min-width: 350px;
          transition: 250ms;
          border-radius: 10%;
          mix-blend-mode: multiply;
          filter: grayscale(100%);
          padding: 0;
          margin: 0;
}

.TitleDivContentCards h2 {
          text-align: center;
          font-size: 36px;
          transition: 350ms;
          color: #000000;
          margin: 0 auto;
}

.TitleDivContentCards h2:hover {
          color: #0E8388;
}

.TitleDivContentCards p {
          text-align: center;
          font-size: 24px;
          color: #000000;
          padding: 15px;
          transition: 350ms;
}

.TitleDivContentCards p:hover {
          color: #0E8388;
          text-shadow: 0 0 10 #000;
}

.streamers h3 {
          font-size: 1.8em;
          color: #000000;
          text-align: center;
          margin: 0 auto;
          transition: all 250ms ease;
}

.streamers h3:hover {
          color: #0E8388;
          text-shadow: 0 0 5px #0E8388;
}



.streamers {
          margin: 20px auto;
          background: conic-gradient(#22222272, #12111172);
          padding: 15px;
          background-size: 250%;
          animation: backgroundMovement 3s ease infinite;
          display: block;
          border-radius: 10px;
}

.streamerCards {
          display: flex;
          flex-direction: column;
          padding: 0px;
          margin: 10px;
          align-items: center;
          justify-content: center;
}

.N1SC {
          display: inline-block;
          transition: all 250ms ease;
          text-align: center;
          border-radius: 15px;
          width: auto;
          padding: 15px;
          height: auto;
          transition: 250ms ease;
          text-decoration: none;
          cursor: default;
          background: #090909;
}

.N1SC:hover {
          transform: translateY(-8px);
}

.N1SC:hover span {
          text-shadow: 0 0 5px #0E8388;
          color: #0E8388;
          padding: 10px 0px;
}

.N1SC img {
          width: 20vw;
          border-radius: 15px;
          height: 20vw;
}


.games {
          margin: 20px auto;
          background: conic-gradient(#22222272, #12111172);
          padding: 15px;
          background-size: 250%;
          animation: backgroundMovement 3s ease infinite;
          display: block;
          border-radius: 10px;
}

.games>h3 {
          font-size: 1.8em;
          color: #000000;
          text-align: center;
          margin: 0 auto;
          transition: all 250ms ease;
}

.games h3:hover {
          color: #0E8388;
          text-shadow: 0 0 5px #0E8388;
}

.gameCards {
          display: flex;
          flex-direction: column;
          padding: 0px;
          margin: 10px;
          align-items: center;
          justify-content: center;
}

.GCN1 {
          display: inline-block;
          transition: all 250ms ease;
          text-align: center;
          padding: 15px;
          border-radius: 15px;
          width: auto;
          height: auto;
          transition: 250ms ease;
          text-decoration: none;
          cursor: default;
          background: #090909;
}

.GCN1:hover {
          transform: translateY(-8px);
}

.GCN1 span {
          text-shadow: 0 0 5px #C9E2DD;
          color: #CBE4DE;
          padding: 10px 0px;
}

.GCN1:hover span {
          text-shadow: 0 0 5px #0E8388;
          color: #0E8388;
          padding: 10px 0px;
}

.GCN1 img {
          width: 20vw;
          border-radius: 15px;
          height: 20vw;
}



.streamerCards span {
          color: #ffffff;
          margin-top: 50px;
          font-size: 20px;
}



.contentStreamers1 {
          margin: 10px auto;
          display: flex;
}

.contentStreamers2 {
          margin: 10px auto;
          display: flex;
}

.contentGames1 {
          display: flex;
          margin: 10px auto;
}

.contentGames2 {
          display: flex;
          margin: 10px auto;
}


@media (max-width:1200px) {
          .body1 header {
                    height: auto;
                    position: fixed;
                    width: 100%;
                    padding: 20px;
                    flex-direction: column;
          }

          .body1 header>.Logo_Title>img {
                    width: 20vw;
                    margin-left: 50%;
                    transform: translate(-50%);
          }


          .body1>header>.menuLinks>a {
                    font-size: 20px;

          }

          .body1>header>.menuLinks>button {
                    font-size: 20px;
          }

          main {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    padding: 20px;
          }

          .Description_Image {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 275px;
                    flex-direction: column;
                    position: relative;
          }

          .Description h2 {
                    font-size: 3.5rem;
                    text-align: center;
          }

          .Description p {
                    font-size: 2.5rem;
                    max-width: 600px;
          }


          .Description>p>a {
                    font-size: 2.5rem;
          }

          .TitleDivContentCards {
                    text-align: center;
                    color: #000000;
                    margin-top: 250px;
                    padding: 15px;
                    margin-top: 400px;
                    transition: 350ms;
          }

          .TitleDivContentCards h2 {
                    font-size: 3.5rem;
          }

          .TitleDivContentCards p {
                    font-size: .8rem;
          }

          .streamers h3 {
                    text-align: center;
                    color: #000000;
                    padding: 15px;
                    font-size: 1.2rem;
                    transition: 350ms;
          }

          .N1SC {
                    display: flex;
                    margin: auto;
                    text-align: center;
                    margin: 10px;
                    width: auto;
                    padding: 15px;
                    flex-direction: column;
          }

          .N1SC img {
                    width: 25vw;
                    height: 25vw;
          }

          .N1SC span {
                    margin: 0px;
                    font-size: 2rem;
          }

          .games h3 {
                    text-align: center;
                    color: #000000;
                    padding: 15px;
                    font-size: 1.2rem;
                    transition: 350ms;

          }

          .GCN1 {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    padding: 15px;
                    margin: auto;
                    margin: 10px;
                    width: auto;
                    flex-direction: column;
          }

          .GCN1 img {
                    width: 25vw;
                    height: 25vw;
          }


          .GCN1 span {
                    font-size: 2rem;
                    margin: 0px;
          }

          .Label {
                    position: absolute;
                    margin-top: -30px;
                    left: 8px;
                    transform: translateY(-50%);
                    font-size: 1em;
                    color: #CBE4DE;
                    transition: all 100ms ease-out;
                    pointer-events: none;
          }

          .input-box input:focus~label {
                    margin-top: -60px;
          }

          .input-box input:valid~label {
                    margin-top: -60px;
          }

          .contenidoWrapper {
                    width: 80vw;
                    height: 80vw;
                    justify-content: center;
                    align-items: center;
          }

          .form-box {
                    align-items: center;
                    justify-content: center;
          }

          .Difuminado {
                    height: 100vh;
                    width: 100vw;
          }
}
